---
import { getCollection  } from 'astro:content';
import EventsCard from "~/components/events-card.tsx";

const events = await getCollection('events');

---
<div id="events">
  <div class="max-w-6xl mx-auto"> 
    {events.map((event) => (
      <div class="mb-6"> 
        <EventsCard
          images={event.data.data}
          title={event.data.title}
          description={event.data.description}
          image=""
          client:visible
        />
      </div>
  ))}
  </div>
</div>
