---
import {Image} from "astro:assets";
import Logo from "../assets/logo.png";
import ContentSection from "~/components/content-section.astro";
---
<div class="flex justify-center">
  <Image src={Logo} width={80} height={80} alt="Logo" />
</div>
<ContentSection title="IEI Students' Chapter CSBS " id="intro">
  <Fragment slot="lead">
      <span class="text-primary">welcomes</span> you all  to the launch of our exciting new chapter which is designed to be a hub of  
    <span class="text-primary">creativity, collaboration </span><span class="text-primary">and lifelong learning.</span>
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
