---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import {Button} from "@nextui-org/react";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Core Team" id="showcase">
  <Fragment slot="lead">
    SC CSBS is <span class="text-primary">AWESOME</span>.{" "}
    <span class="text-primary">Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      
    </p>
  </div>
  <Button radius="full"  size="lg"  className="bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500">
    SEE THE FULL TEAM
  </Button>
</ContentSection>
